/* Geral */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body {
    background-image: url('../img/pexels-apasaric-1820770.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    color:rgba(22, 198, 166, 0.539);
    font-size: 15px;
}

button {
    background-color: black;
    color: rgb(15, 118, 220);
    border: 1px solid rgba(15, 118, 220, 0.598);
    border-radius: 5px;
    padding: .3rem .6rem;
    font-size: .9rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

button:hover {
    background-color: rgb(15, 118, 220);
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color:  rgb(13, 72, 131);
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* to do header */

.todo-container {
    max-width: 350px;
    margin: 3rem auto;
    backdrop-filter: blur(18px);
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 10px;
}

/* todo form */

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/*  todo toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* todo List */

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transform: .5s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #222;
}

.done h3 {
    text-decoration: line-through;
    color: rgb(15, 118, 220);
}